{% extends "layout/layout.twig" %}
{% from "macros.twig" import render_enums %}
{% block title %}{% trans 'Enums' %} | {{ parent() }}{% endblock %}
{% block body_class 'enums' %}

{% block below_menu %}
<div class="uk-container uk-background-muted">
    <ul class="uk-breadcrumb">
        <li class="uk-first-column"><a href="{{ path('index.html') }}">{% trans 'Home' %}</a></li>
        <li><span>{% trans 'Enums' %}</span></li>
    </ul>
</div>
{% endblock %}

{% block page_content %}
<div class="uk-container uk-container-expand">
    <div class="uk-grid uk-grid-medium" data-uk-grid uk-sortable="handle: .sortable-icon">
        <div class="uk-width-1-1@l">
            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <h3 class="uk-card-title">{% trans 'Enums' %}</h3>
                </div>
                <div class="uk-card-body">
                    {{ render_enums(enums) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}